# Optionally, backup stars
backup-stars: false
# Fetch the users in organizations and add it to the list of users
in-org: []
# Interval parsable by time.ParseDuration. This is used when running `gobackup-github backup continuous`
# If explicitly set to null, it will run once and exit as if `gobackup-github backup` was run
# If not specified, it will default to 24h (24 hours)
interval: "24h"
# Log level: debug, info, warn, error
log-level: info
# Output directory
output: backup
# GitHub token with read access to the repositories and user
token: ""
# List of usernames to fetch. If neither usernames or in-org are set (or an empty string is passed), the authenticated user will (also) be fetched. Fetching the authenticated user also fetches repositories shared with the authenticated user.
usernames: []
# `clone` (clone the repositories), `fetch` (fetch the repositories and write to output if it ends in .json or `repositories.json` in output), `dry-run` (fetch the repositories and print the output)
run-type: clone
# Ntfy URL to optionally send a notification to upon completion. If you don't want to use ntfy.sh, you can use a self-hosted instance of ntfy.
ntfy-url: ""
# Submodule depth to include. If set to 0 (default), submodules will not be initialized.
recurse-submodules: 10