name: Go
on:
  push: 
  pull_request: 
  workflow_dispatch: 
jobs:
  build:
    strategy: 
      matrix:
        os:
          - ubuntu-latest
          - windows-latest
    runs-on: '${{ matrix.os }}'
    steps:
      - uses: actions/checkout@v3
      - name: Set up Go
        uses: actions/setup-go@v3
        with:
          go-version: 1.19
          check-latest: true
      - name: Build
        run: 'go build -v -o gobackup-github_compiled_${{ matrix.os }}'
      - uses: actions/upload-artifact@v3
        with:
          name: my-artifact
          path: 'gobackup-github_compiled_${{ matrix.os }}'
